modules = ["nodejs-24"]
[nix]
channel = "stable-25_05"

[[ports]]
localPort = 23508
externalPort = 80

[deployment]
deploymentTarget = "static"
build = ["bash", "-c", "cd ReplitExport-rajdey01741zip/Map-Downloader-Hub && pnpm --filter @workspace/map-mod-bussid run build"]
publicDir = "ReplitExport-rajdey01741zip/Map-Downloader-Hub/artifacts/map-mod-bussid/dist/public"

[userenv]

[userenv.shared]
VITE_FIREBASE_API_KEY = "AIzaSyAIs9hjjJ1umkMJT_rdHyd31r7H-SQgZlA"
VITE_FIREBASE_APP_ID = "1:76247437356:web:a879a7d3ae2942eff04189"
VITE_FIREBASE_AUTH_DOMAIN = "map-mod-bussid-plazzugaming.firebaseapp.com"
VITE_FIREBASE_DATABASE_URL = "https://map-mod-bussid-plazzugaming-default-rtdb.firebaseio.com"
VITE_FIREBASE_MEASUREMENT_ID = "G-EGJ40J604B"
VITE_FIREBASE_MESSAGING_SENDER_ID = "76247437356"
VITE_FIREBASE_PROJECT_ID = "map-mod-bussid-plazzugaming"
VITE_FIREBASE_STORAGE_BUCKET = "map-mod-bussid-plazzugaming.firebasestorage.app"
